{% load static %}
<div class="cart-header">
  <div class="cart-title">
    <h3>Корзина</h3>
    <button class="clear-cart">Очистить</button>
  </div>
  <div class="cart-items">
    {% if cart.items.all %}
      {% for item in cart.items.all %}
        <div class="cart-item">
          <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-item-img" />
          <div class="cart-item-info">
            <span class="cart-item-title">{{ item.product.name }}</span>
            {% if item.options.all %}
              <div class="cart-item-options-col">
                {% for option in item.options.all %}
                  <span class="cart-item-option">{{ option.name }}</span>
                {% endfor %}
              </div>
            {% endif %}
            <span class="cart-item-price">{{ item.get_total_price }}₽</span>
          </div>
          <div class="cart-item-qty-bg">
            <button class="cart-qty-btn minus" data-item-id="{{ item.id }}">−</button>
            <span class="cart-item-qty">{{ item.quantity }}</span>
            <button class="cart-qty-btn plus" data-item-id="{{ item.id }}">+</button>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="empty-cart">
        <img src="{% static 'imgs/empty-cart.png' %}" alt="Ваша корзина пуста">
        <p>Ваша корзина пуста!</p>
      </div>
    {% endif %}
  </div>
</div>
<div class="cart-total">
  <span><strong>Итого:</strong> {{ cart.get_total_price }}₽</span>
  <a href="{% url 'order_create' %}" class="checkout">Оформить</a>
</div>
