{% extends 'base.html' %}
{% load static %}

{% block title %}Ошибка оплаты{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/orders/payment_failed.css' %}">
{% endblock %}

{% block content %}
<main>
  <section style="display: flex; align-items: center; justify-content: center;">
    <div class="payment-failed">
      <h2>Оплата не прошла</h2>
      <p>К сожалению, оплата не была завершена или произошла ошибка.</p>
      <p>Пожалуйста, попробуйте оплатить снова или выберите другой способ оплаты.</p>
      <div class="button-group">
        <a href="{% url 'order_create' %}" class="btn btn-warning">Повторить оформление заказа</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}