{% extends 'base.html' %}
{% load static %}

{% block title %}НямРан - Ваш заказ уже ждет вас!{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<div class="main-content">
    <section class="main-section">
        <div class="left-block">
            <h1 class="main-title">
                НямРан —<br>
                Ваш заказ уже ждет вас
            </h1>
            <h2 class="main-subtitle">Вкусно. Быстро. Без очередей.</h2>
            <a href="{% url 'place_list' %}" class="main-btn">Оформить предзаказ</a>
        </div>
        <img src="{% static 'imgs/main-img.png' %}" alt="main-images" class="main-img">
    </section>

    <!-- КОФЕЙНИ -->
    <section class="category">
        <h2 class="item-title">Кофейни</h2>
        <div class="items">
            {% for place in coffee_shops %}
                <a href="{% url 'place_detail' place.pk%}" class="item">
                    <img src="{{ place.image.url }}" alt="{{ place.name }}" class="item-img">
                    <p class="item-name">{{ place.name }}</p>
                </a>
            {% empty  %}
                На данный момент заведений в данной категории нет
            {% endfor %}
        </div>
    </section>

    <!-- ПЕКАРНИ -->
    <section class="category">
        <h2 class="item-title">Пекарни</h2>
        <div class="items">
            {% for place in bakeries %}
                <a href="{% url 'place_detail' place.pk%}" class="item">
                    <img src="{{ place.image.url }}" alt="{{ place.name }}" class="item-img">
                    <p class="item-name">{{ place.name }}</p>
                </a>
            {% empty  %}
                На данный момент заведений в данной категории нет
            {% endfor %}
        </div>
    </section>

    <!-- КАФЕ -->
    <section class="category">
        <h2 class="item-title">Кафе</h2>
        <div class="items">
            {% for place in cafes %}
                <a href="{% url 'place_detail' place.pk%}" class="item">
                    <img src="{{ place.image.url }}" alt="{{ place.name }}" class="item-img">
                    <p class="item-name">{{ place.name }}</p>
                </a>
            {% empty  %}
                На данный момент заведений в данной категории нет
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
