{% extends 'base.html' %}
{% load static %}
{% block title %}Пароль изменен{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/password_change_done.css' %}">
{% endblock %}
{% block content %}
  <main class="main">
    <div class="content">
      <div class="success-icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <h2>Пароль успешно изменен</h2>
      <p class="text">Ваш пароль был успешно изменен.</p>
      <a class="link" href="{% url 'profile' %}">Вернуться в профиль</a>
    </div>
  </main>
{% endblock %}
