textarea {
    max-width: 500px;
    max-height: 100px;
}

/* MAIN */

.order-page {
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.order-container {
    display: flex;
    gap: 40px;
    background-color: var(--color-card-bg);
    padding: 30px;
    border-radius: 24px;
    max-width: 1440px;
    width: 100%;
    box-shadow: 0 4px 8px var(--color-card-shadow);
    justify-content: space-between;
    margin-bottom: 120px;
}

.order-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.order-form h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.order-form label {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.comment-field {
    padding-left: 10px;
    padding-top: 10px;
}

.order-form select,
.order-form input[type="time"],
.order-form input[type="text"] {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 4px;
}

.order-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.total-price {
    font-weight: 700;
    font-size: 24px;
    margin-left: 37px;
}

.order-summary {
    width: 500px;
}

.order-summary h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.order-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order-items li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-items img {
    width: 115px;
    height: 90px;
    border-radius: 12px;
    object-fit: cover;
}

.item-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 14px;
}

.item-info span {
    font-weight: 500;
    font-size: 16px;
}

.item-price {
    font-weight: 700;
}

.checkout {
    width: 223px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    background-color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-light);
}

.checkout:hover {
    transition: .3s;
    background-color: var(--color-button-hover);
    color: var(--color-text-light);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin-right: 200px;
}

.empty-cart img {
    width: 300px;
}

.empty-cart a {
    color: var(--color-primary);
}

.empty-cart a:hover {
    color: var(--color-primary-hover);
}