/* MAIN CONTENT */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* FILTERS */

.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
    padding: 20px 0;
}

.filter-group {
    flex: 1;
    min-width: 100px;
    border-radius: 10px;
}

.filter-group h3 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-text);
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-filter-bg);
    border-radius: 30px;
    height: 70px;
}

.filter-options label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 30px;
    transition: 0.3s;
}

.filter-pills input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.filter-pills {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
}

.pill {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.pill span {
    display: inline-block;
    padding: 13px 20px;
    border: 1px solid #C0C0C0;
    border-radius: 30px;
    color: #555;
    font-size: 14px;
    line-height: 1;
    transition: .3s;
}

/* 4. Состояние «выбрано» */
.pill input:checked+span {
    background-color: var(--color-filter-option-bg);
    color: #1A1A1A;
}

/* ITEMS */

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    max-width: 334px;
}

.item-title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-text);
    margin-top: 40px;
}

.item:hover {
    transition: .1s;
    transform: translateY(-12px) scale(1.05);
}

.item-img {
    border-radius: 24px;
    width: 100%;
    height: auto;
    aspect-ratio: 334/210;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 10px;
}

.item-img:hover {
    transition: .4s;
    box-shadow: 0 16px 24px var(--color-card-shadow-hover);
}

.item-name {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text-dark);
}