{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/users/passStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/icons/favicon.ico' %}">
    {% if not MEDIA_URL %}
      {% get_media_prefix as MEDIA_URL %}
    {% endif %}
    {% block extra_head %}{% endblock %}
    <meta name="mailru-domain" content="BvNKhY4URJXAVxYr" />
  </head>
  <body>
    {% include 'includes/header.html' %}
    {% if messages %}
      <div class="notification-wrapper">
        {% for message in messages %}
          <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
            <span class="close-btn">&times;</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% block content %}{% endblock %}
    {% include 'includes/footer.html' %}
  </body>
  <div class="navbar-overlay" id="navbar-overlay"></div>
  <script src="{% static "js/showMessages.js" %}"></script>
  <script src="{% static "js/users/showPassword.js" %}"></script>
  <script src="{% static "js/mobile.js" %}"></script>
</html>
