{% extends 'base.html' %}
{% load static %}
{% block title %}{{ place.name }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/place_detail.css' %}">
{% endblock %}

{% block content %}
<main class="main">
  <div class="main-content restaurant-page">

    <!-- Sidebar -->
    <aside class="menu-sidebar">
      <div class="back-link">
        <img src="{% static 'imgs/return-arrow.svg' %}" alt="return-arrow">
        <a href="{% url 'place_list' %}">Все заведения</a>
      </div>
      <nav class="menu-categories">
        <p>Меню</p>
        <ul>
          {% for cat_data in categories %}
            <a href="#{{ cat_data.category.name|slugify }}">{{ cat_data.category.name }}</a>
          {% endfor %}
        </ul>
      </nav>
    </aside>

    <!-- Main restaurant section -->
    <section class="restaurant-main">
        <div class="restaurant-banner-container">
          <img src="{{ place.image.url }}" alt="{{ place.name }}" class="restaurant-banner-img">
        </div>

      {% for cat_data in categories %}
        <div class="menu-section" id="{{ cat_data.category.name|slugify }}">
          <h2>{{ cat_data.category.name }}</h2>
          <div class="menu-items">
            {% for item in cat_data.items %}
            <div class="menu-item">
              <img src="{{ item.image.url }}" alt="{{ item.name }}" class="menu-item-img" />
              <p class="menu-item-price">{{ item.price }}₽</p>
              <p class="menu-item-name">{{ item.name }}</p>
              <button>+ Добавить</button>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </section>

    <!-- Cart -->
    <aside class="cart">
      <div class="cart-header">
        <div class="cart-title">
          <h3>Корзина</h3>
          <button class="clear-cart">Очистить</button>
        </div>
        <div class="cart-items">
          <!-- Заглушка для статической корзины -->
          <div class="cart-item">
            <div class="cart-item-info">
              <p>Раф малина-кокос</p>
              <p>x1</p>
            </div>
            <p class="cart-item-price">200₽</p>
          </div>
        </div>
      </div>
      <div class="cart-total">
        <span><strong>Итого:</strong> 200₽</span>
        <button class="checkout">Оформить</button>
      </div>
    </aside>

  </div>
</main>
{% endblock %}
