<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coffee Like</title>
  <link rel="stylesheet" href="css/place_detail.css" />
</head>

<body>
  <header>
    <div class="header-content">
      <a href="#" class="logo">
        <img src="imgs/logo-img.svg" alt="Перекусь" class="logo">
      </a>
      <ul class="navbar">
        <li><a href="#">О нас</a></li>
        <li><a href="#">Заведения</a></li>
        <li><a href="#">Партнерство</a></li>
      </ul>
      <a href="#" class="login">Войти / Зарегистироваться</a>
    </div>
  </header>
  <main class="main">
    <div class="main-content restaurant-page">
      <aside class="menu-sidebar">
        <div class="back-link">
          <img src="imgs/return-arrow.svg" alt="return-arrow">
          <a href="#">Все заведения</a>
        </div>
        <nav class="menu-categories">
          <p>Меню</p>
          <ul>
            <a href="#">Латте</a>
            <a href="#">Капучино</a>
            <a href="#">Раф</a>
            <a href="#">Американо</a>
            <a href="#">Эспрессо</a>
          </ul>
        </nav>
      </aside>
      <section class="restaurant-main">
        <img src="imgs/coffee-like-large.png" alt="COFFEE LIKE" class="restaurant-banner-img">
        <div class="menu-section">
          <h2>Латте</h2>
          <div class="menu-items">
            <div class="menu-item">
              <img src="imgs/coffee.png" alt="Латте" class="menu-item-img" />
              <p class="menu-item-price">200₽</p>
              <p class="menu-item-name">Раф молочно-какао</p>
              <button>+ Добавить</button>
            </div>
            <div class="menu-item">
              <img src="imgs/coffee.png" alt="Латте" class="menu-item-img" />
              <p class="menu-item-price">200₽</p>
              <p class="menu-item-name">Раф молочно-какао</p>
              <button>+ Добавить</button>
            </div>
            <div class="menu-item">
              <img src="imgs/coffee.png" alt="Латте" class="menu-item-img" />
              <p class="menu-item-price">200₽</p>
              <p class="menu-item-name">Раф молочно-какао</p>
              <button>+ Добавить</button>
            </div>
            <div class="menu-item">
              <img src="imgs/coffee.png" alt="Латте" class="menu-item-img" />
              <p class="menu-item-price">200₽</p>
              <p class="menu-item-name">Раф молочно-какао</p>
              <button>+ Добавить</button>
            </div>
            <!-- Другие карточки -->
          </div>
        </div>
        <div class="menu-section">
          <h2>Капучино</h2>
          <div class="menu-items">
            <!-- Карточки -->
          </div>
        </div>
        <div class="menu-section">
          <h2>Раф</h2>
          <div class="menu-items">
            <!-- Карточки -->
          </div>
        </div>
      </section>
      <aside class="cart">
        <div class="cart-header">
          <div class="cart-title">
            <h3>Корзина</h3>
            <button class="clear-cart">Очистить</button>
          </div>
          <div class="cart-items">
            <div class="cart-item">
              <div class="cart-item-info">
                <p>Раф малина-кокос</p>
                <p>x1</p>
              </div>
              <p style="font-size: 16px; font-weight: 500;">200₽</p>
            </div>
            <div class="cart-item">
              <div class="cart-item-info">
                <p>Раф малина-кокос</p>
                <p>x1</p>
              </div>
              <p style="font-size: 16px; font-weight: 500;">200₽</p>
            </div>
            <div class="cart-item">
              <div class="cart-item-info">
                <p>Раф малина-кокос</p>
                <p>x1</p>
              </div>
              <p style="font-size: 16px; font-weight: 500;">200₽</p>
            </div>
            <div class="cart-item">
              <div class="cart-item-info">
                <p>Раф малина-кокос</p>
                <p>x1</p>
              </div>
              <p style="font-size: 16px; font-weight: 500;">200₽</p>
            </div>
            <div class="cart-item">
              <div class="cart-item-info">
                <p>Раф малина-кокос</p>
                <p>x1</p>
              </div>
              <p style="font-size: 16px; font-weight: 500;">200₽</p>
            </div>
          </div>
        </div>
        <div class="cart-total">
          <span><strong>Итого:</strong> 700₽</span>
          <button class="checkout">Оформить</button>
        </div>
      </aside>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-content">
        <a href="#" class="logo">
            <img src="imgs/logo-img.svg" alt="Перекусь" class="logo">
        </a>
        <div class="navbar">
            <a href="">О нас</a>
            <a href="">Заведения</a>
            <a href="">Партнерство</a>
        </div>
    </div>
</footer>
</body>

</html>