.items {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    max-width: 334px;
}

.item-title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-text);
    margin-top: 40px;
}


.item-img {
    border-radius: 24px;
    width: 100%;
    height: auto;
    aspect-ratio: 334/210;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.item:hover .item-img {
    filter: brightness(1.2);
}

.item-name {
    font-weight: 600;
    font-size: 18px;
    color: var(--color-text-dark);
}


.items {
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .items {
    justify-content: center;
  }
  .item {
    flex: 1 1 calc(50% - 20px);
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  .items {
    gap: 10px;
    padding: 0 5px;
  }
  .item {
    flex: 1 1 100%;
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
}
.item-img {
    aspect-ratio: 2/1;
    border-radius: 16px;
}
.item-name {
    font-size: 16px;
}