.items {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  flex: 1 1 calc(25% - 20px);
  max-width: 334px;
}

.item-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text);
  margin-top: 40px;
}

.item-img {
  border-radius: 24px;
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.item:hover .item-img {
  filter: brightness(1.2);
}

.item-name {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text-dark);
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .items {
    gap: 5px;
  }

  .item {
    width: 100px;
    margin-bottom: 10px;
  }

  .item-img {
    border-radius: 12px;
    width: 100px;
    margin-bottom: 0;
  }

  .item-name {
    font-size: 14px;
  }
}